$body-fonts: $rubic;

img{
    max-width: 100%;
}

body{
    font-family: $body-fonts;
    font-weight: 300;
    
    line-height: 2.5rem;
}
h1, .h1{
    line-height: 5.925rem;
}
h2, .h2{
    line-height: 4.266rem;
}
h4, .h4{
    line-height: 2.5rem;
}
