

.herro-home{
    background-repeat: no-repeat;
    background-position: top right;
    background-size: auto 100%;
    padding: 8.9rem 0;
    .home-contant{
        background-color: rgba(#fff, 0.6);
        .home-description{
            margin-bottom: 5.9rem;
        }
    }
}